.members_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  justify-content: space-around;
  gap: 80px;
  padding-top: 70px;
}

.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 2px solid var(--muted);
  border-radius: 15px;
  padding: 60px 20px 20px;
  position: relative;
  min-height: 180px;
  text-align: center;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border: 2px solid var(--muted);
  background-color: var(--darkCharcoal);
}

.fullName {
  font-size: 1.05rem;
  margin: 20px 0 8px;
  color: var(--white);
}

.role {
  font-size: 0.85rem;
  color: var(--light);
  font-weight: 400;
  margin-top: 10px;
}

.phone_wrapper{
  direction: ltr;
}

@media (min-width: 400px) {
  .members_container {
    grid-template-columns: repeat(auto-fit, 80%);
  }
}

@media (min-width: 576px) {
  .members_container {
    grid-template-columns: repeat(auto-fit, 45%);
    gap: 80px 10%;
  }
}

@media (min-width: 1400px) {
  .members_container {
    grid-template-columns: repeat(auto-fit, 30%);
    gap: 80px 5%;
  }
}

