.blog_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  max-width: 800px;
  margin: 0 auto;
}

.blogImage {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
}

.blogTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  text-align: center;
}

.blogInfos{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: var(--midCharcoal);
  margin-top: 50px;
  padding: 0 10px;
  border: 1px solid var(--lightCharcoal);
}

@media (min-width: 576px) {
  .blogContent_container {
    padding: 0 20px;
    width: 85%;
    transform: translateY(-50px);
    background-color: var(--darkCharcoal);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}