/* TEXT COLOR */
.bgLight{ background-color: var(--light); }
.bgMuted{ background-color: var(--muted); }
.bgVividCyan{ background-color: var(--vividCyan); }
.bgLightCharcoal{ background-color: var(--lightCharcoal); }
.bgMidCharcoal{ background-color: var(--midCharcoal); }
.bgDarkCharcoal{ background-color: var(--darkCharcoal); }
.bgGold{ background-color: var(--gold);}

.textWhite{ color: #fff }
.textLight{ color: var(--light); }
.textMuted{ color: var(--muted); }
.textVividCyan{ color: var(--vividCyan); }
.textLightCharcoal{ color: var(--lightCharcoal); }
.textMidCharcoal{ color: var(--midCharcoal); }
.textDarkCharcoal{ color: var(--darkCharcoal); }
.textGold{ color: var(--gold);}

.cardTitle{
  font-weight: 500;
  color: #ddd;
  font-size: 1.1rem;
}

/* .page_container {
  overflow: auto;
  background-color: var(--darkCharcoal);
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: 15px 10px 10px;
  scrollbar-color: var(--lightCharcoal) var(--darkCharcoal);
} */

.page_container, .fullScreen_page_container {
  overflow: auto;
  background-color: var(--darkCharcoal);
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: 15px 10px 10px;
  scrollbar-color: var(--lightCharcoal) var(--darkCharcoal);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.desc {
  line-height: 1.5;
  font-size: 1.05rem;
  color: var(--light);
}

@media (min-width: 576px) {
  .page_container, .fullScreen_page_container {
    padding: 50px;
  }

  .title {
    font-size: 1.7rem;
  }
}

@media (min-width:768px){
  .page_container{
    border-radius: 25px;
  }
}

@media (min-width:992px){
  .page_container{
    border-radius: 35px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1.1rem;
  }

  .fullScreen_page_container {
    padding: 100px 150px;
  }
}
