body{
  background-color: var(--vividCyan);
  font-family: arial;
}

.page_container{
  overflow: auto;
  padding: 50px;
  background-color: var(--darkCharcoal);
  width: 100%;
  height: 100%;
  color: var(--whiteTextColor);
}