* {
  scrollbar-width: thin;
}

body {
  background-color: var(--darkCharcoal);
}

html[lang="fa"]{
  font-size: 16px;
}

html[lang="en"]{
  font-size: 18px;
}

html[lang="fa"] body {
  font-family: IranSans;
  direction: rtl;
}

html[lang="en"] body {
  font-family: calibri, sans-serif;
  direction: ltr;
}

html[lang="fa"] p{
  line-height: 2;
}

/* REACT BOOTSTRAP Accordion */
.accordion-button::after{ display: none }