@font-face {
  font-family: calibri;
  src: url("../../public/assets/fonts/Calibri-Light.woff");
  font-weight: 100;
}

@font-face {
  font-family: calibri;
  src: url("../../public/assets/fonts/Calibri.woff");
  font-weight: 400;
}

@font-face {
  font-family: calibri;
  src: url("../../public/assets/fonts/Calibri-Bold.woff");
  font-weight: 700;
}

/* Recoleta Alt */
@font-face {
  font-family: recoleta;
  src: url('/public/assets/fonts/Recoleta\ Alt\ Bold.otf');
  font-weight: 700;
}

/* IranSans */
@font-face {
  font-family: IranSans;
  src: url("../../public/assets/fonts/IRANSansXFaNum-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: IranSans;
  src: url("../../public/assets/fonts/IRANSansXFaNum-Bold.woff2");
  font-weight: 700;
}
