@keyframes descSpanAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo {
  aspect-ratio: 1/1;
  width: 200px;
  object-fit: cover;
  /* border: 3px solid var(--white); */
  box-shadow: 0 0 20px -10px #fff;
  border-radius: 50%;
  transition: 0.3s;
}

/* .logo:hover {
  box-shadow: 0 0 10px 0 #fff;
} */

.teamName {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}

.descSpan {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--muted);
  opacity: 0;
  animation: descSpanAnim 0.5s forwards;
}

.social_container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.social_icon {
  font-size: 2rem;
  border-radius: 50%;
  padding: 3px;
  transition: 0.3s;
}

.social_icon:hover {
  /* background-color: gray; */
  color: var(--gold);
}
