.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.groupName{
  font-size: 3rem;
  text-align: center;
}

.description{
  font-weight: 100;
  font-size: 1.2rem;
  color: var(--mutedTextColor);
  text-align: center;
}