.backButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
  align-self: start;
  margin-bottom: 24px;
  border: 1px solid var(--vividCyan);
  border-radius: 4px;
  color: var(--vividCyan);
  padding: 5px 10px;
  transition: 0.3s;
}

.backButton:hover{
  color: #000;
  background-color: var(--vividCyan);
}