.desktopHeader {
  display: none;
  perspective: 800px;
}

.desktopNav {
  transform-style: preserve-3d;
}

.desktopNavUl {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 20px;
  background-color: var(--lightCharcoal);
  border-radius: 50px;
  padding: 25px 0;
}

.menuIcon {
  font-size: 30px;
}

.languageIcon {
  color: var(--light);
}

.fullScreenIcon {
  width: 36px;
  height: 36px;
  color: var(--light);
}

.desktopNavUl > li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.desktopNavUl > li > a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menuLabel {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
  background-color: var(--darkCharcoal);
  color: var(--white);
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 25px;
  z-index: 4;
  font-size: 15px;
}

.persianNav .menuLabel {
  right: 0;
}

.persianNav > ul > li:hover .menuLabel {
  opacity: 1;
  right: 100%;
}

.englishNav .menuLabel {
  left: 0;
}

.englishNav > ul > li:hover .menuLabel {
  opacity: 1;
  left: 100%;
}

.desktopNavUl > li:hover .menuIcon {
  color: var(--vividCyan);
}

@media (min-width: 992px) {
  .desktopHeader {
    display: block;
  }
}
