.fixed_area {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 50px 2%;
  color: var(--whiteTextColor);
  overflow: auto;
}

.logo {
  aspect-ratio: 1/1;
  width: 70%;
  object-fit: cover;
  border-radius: 50%;
}

.groupName{
  font-size: 2rem;
  margin-top: 30px;
}

.shortDescription{
  font-weight:100;
  color: var(--mutedTextColor);
  margin-top: 15px;
}

.social {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.social_icon {
  font-size: 25px;
  border-radius: 50%;
  padding: 3px;
  transition: 0.5s;
}

.social_icon:hover {
  background-color: gray;
}