.loader_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(3px);
  position: fixed;
}

.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
  color: #fff
}
.loader:before,
.loader:after {
  /* content:"Loading..."; */
  content:"لطفا منتظر بمانید...";
  font-family: IranSans;
  grid-area: 1/1;
  mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
  -webkit-mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5,220,0.5,-220);
}
.loader:after {
  mask-position:1ch 50%;
  -webkit-mask-position:1ch 50%;
  --s:-1;
}
@keyframes l11 {100%{transform: translateY(calc(var(--s,1)*0.1%));}}